.imagelist-container {
    display: grid;
    justify-items: center;
    margin: 32px 0;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    
    @include breakpoint(medium) {
      margin: 16px 0;
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(small) {
      margin: 16px 0;
      gap: 12px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .image-container {
    position: relative;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    img {
      max-width: 100%;
    }
  
    &-overlay {
      width: 90%;
      max-width: 90%;
      max-height: 90%;
      opacity: 0;
      transition: 0s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      cursor: default;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  
    &:hover img {
      opacity: 0.3;
    }
  
    &:hover &-overlay {
      transition: 0.5s ease;
      opacity: 1;
    }
}
  
  .filters {
    display: flex;
    flex-wrap: wrap;
  }